.graph-card {
    /* width: 50%; */
    height: 12cm;
    /* padding-right: 1%; */
    /* margin: 3%; */
    background-color: #F3cd00;
}
.card-title{
    height: 5%;
}

.demo-chart {
    background-color: black;
    height: 100%;
    width: 100%;
    /* color: maroon; */
}