<mat-card class="graph-card">
    <mat-card-title>
        <mat-toolbar class="card-title" style="background-color: #F3cd00;">
            <!-- <span class="Title">{{card_title}}</span> -->
            <div  *ngIf="show_options == true">
                <mat-form-field appearance="fill">
                    <mat-label>X-Axis</mat-label>
                    <mat-select [formControl]="Readings_1">
                        <mat-option *ngFor="let option of options_list" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Y-Axis</mat-label>
                    <mat-select [formControl]="Readings_2">
                        <mat-option *ngFor="let option of options_list" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <button mat-raised-button (click)="change_show_options()">Choose Data</button>
        </mat-toolbar>
    </mat-card-title>
    <mat-card-content>
            <div *ngIf="id == '1'" echarts [options]="chartOptions" [loading]="isLoading" [merge]="mergeOptions_1" class="demo-chart"></div>
            <div *ngIf="id == '2'" echarts [options]="chartOptions" [merge]="mergeOptions_2" class="demo-chart"></div>
            <div *ngIf="id == '3'" echarts [options]="chartOptions" [merge]="mergeOptions_3" class="demo-chart"></div>
    </mat-card-content>
    <!-- <img mat-card-image src={{img}}> -->
</mat-card>