<!-- <mat-card class="std-card">
    <mat-card-title>Using Raspberry PI’s to measure native plant impact on local environment
    </mat-card-title>
    <mat-card-subtitle>By AJ Vrieland and Ben Westerhof</mat-card-subtitle>
    <mat-card-content>
      <p>
        We are going to use Raspberry PI’s to help the Biology Department research the effects and importance of native growth plants on Calvin’s Campus, such as keeping areas of campus naturally cooler and or warmer and reducing the overall carbon footprint on campus.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="https://calvin-cs-senior-project-bio-21.github.io/pibox.github.io/">More Info</a>
    </mat-card-actions>
  </mat-card> -->


  <!-- <mat-card class="title-card"> -->
    <!-- <mat-card-actions class="ham-button">
        <button>
          <mat-icon>reorder</mat-icon>
        </button>
      </mat-card-actions> -->
    <!-- <mat-card-title class="title">Natural Growth on Calvin's Campus</mat-card-title>  
  </mat-card> -->
<p>
  <mat-toolbar class="title-card">
    <button mat-icon-button class="side-menu" aria-label="menu-button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="title">Natural Growth on Calvin's Campus</span>
  </mat-toolbar>
</p>

<div fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4]">
  <span>
    <app-graph-cards card_title="Graph {{num}}" id="0" image="assets/garden-{{num}}.jpg"></app-graph-cards>
  </span>
</div>