<html>
    <mat-card class="std-card">
    <mat-card-title>Using Raspberry PI’s to measure native plant impact on local environment
    </mat-card-title>
    <mat-card-subtitle>By AJ Vrieland and Ben Westerhof</mat-card-subtitle>
    <mat-card-content>
      <p>
        We are going to use Raspberry PI’s to help the Biology Department research the effects and importance of native growth plants on Calvin’s Campus, such as keeping areas of campus naturally cooler and or warmer and reducing the overall carbon footprint on campus.
      </p>
    </mat-card-content>
  </mat-card>
</html>